```css
body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

form {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 20px;
    background-color: blue;
    color: white;
    border: none;
}
```
<<<<<<< HEAD

=======
 
>>>>>>> b46dd5b93b5ade4f74da758a84cabf8ba127dba0
